/*** COLORS ***/
:root {
  /* Color Palette Variables */
  --primary-color: hsla(87, 15%, 55%, 1); /* Matcha */
  --primary-color-deactivated: hsla(87, 15%, 55%, 0.5);

  --secondary-color: hsla(40, 24%, 87%, 1); /* Almond */
  --secondary-color-deactivated: hsla(40, 24%, 87%, 0.5);

  --bg-color: hsla(41, 53%, 88%, 1); /* Vanilla */
  --bg-color-deactivated: hsla(41, 53%, 88%, 0.5);

  --bg-secondary-color: hsla(72, 21%, 65%, 1); /* Pistache */
  --bg-secondary-color-deactivated: hsla(72, 21%, 65%, 0.5);

  --highlight-color: hsla(31, 43%, 66%, 1); /* Chai */
  --highlight-color-deactivated: hsla(31, 43%, 66%, 0.5);

  /* New Neutral Color (replacing Carob) */
  --neutral-color: hsla(38, 12%, 60%, 1); /* Soft Beige */
  --neutral-color-deactivated: hsla(38, 12%, 60%, 0.5);

  /* Navbar and Footer Variables */
  --navbar-bg:   hsla(87, 15%, 55%, 1); /* Matcha */
  --navbar-font: hsla(0, 0%, 100%, 1); /* White */
  
  --footer-bg:   hsla(87, 15%, 55%, 1); /* Matcha */
  --footer-font: hsla(0, 0%, 100%, 1); /* White */
}


/*** SETTING DEFAULTS ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow-x: hidden; 
}
html {
  font-family: monospace, sans-serif;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
body {
 background-color: var(--bg-color-deactivated);
}
.heading {
  max-width: 75%;
}
#home, #about, #projects {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 85vh;

}


/***  NAVBAR  ***/
#navbar {
  display: flex;
flex-wrap: nowrap;
overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}
#navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 20px;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}
#navbar a {
  color: black;
  text-decoration: none;
  padding: 15px;
}
.navbar-home {
  flex: 1;
}
.nav-li {
  display: flex;
  gap: 15px;
}
.nav-li:hover {
  transform: scale(1.05);

}
.navbar-projects {
  background-color: var(--primary-color-deactivated);
  border-radius: 40px;
}


/*** HOME  ***/
.home-content {
  display: flex; 
  flex-direction: row; 
  gap: 10px;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  padding: 200px 40px;
}
.heading {
  text-align: start;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.profile {
  flex: 1; 
  max-width: 32%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.profile .heading {
  max-width: 100%;
}
.profile p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.email-link {
  display: inline-block;
  background-color: #d9e5cc;
  padding: 10px 20px;
  border-radius: 15px;
  color: #333;
  cursor: pointer;
}
.photo-conteiner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px; 
  border-radius: 0;
}
.photo-conteiner p {
  font-size: 1.1rem;
}
.photo-conteiner ul {
  margin-bottom: 20px;
}
.photo-conteiner li {
  font-size: 1rem;
  margin-bottom: 5px;
}
#profile-img {
  max-width: 100%;
  border-radius: 50%;
  border: 8px solid var(--primary-color);
}
.fa-regular .fa-arrow-up {
  background-color: var(--secondary-color);
}
.home-conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

/*** ABOUT/PROJECTS/CONTACT ***/
.section-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-wrap: none;
  overflow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  position: relative;
  border: 2px solid black;
  border-radius: 50px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  background-color: var(--bg-secondary-color);
}
.section-content #projects {
    background-color: var(--bg-secondary-color-deactivated);

}
  .space-s {
    margin-bottom: 10px;
  }

  .space-l {
    margin-top: 20px;
  }
  .all-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/*** ABOUT ***/
#about {
  position: relative;
  background-color: var(--bg-secondary-color-deactivated);
  background-size: cover; 
  background-position: center;
  background-attachment: local; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.about-me-box, .skills, .hobbies {
  border: 2px dashed black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
}
.skills {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  position: relative;
}
ul li {
  list-style: none;
}
.skills-ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 100%;
}
.skills-img img {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.skills-img img:hover {
  transform: scale(1.3); 
}


/*** PROJECTS ***/
#projects {
  background-color: var(--bg-color-deactivated);
  padding: 60px 0;
  width: 100%;
}
.project-screenshot {
  width: 224px;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}
.project-cards{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
}
.project-card{
  border: 2px dashed black;
  border-radius: 10px;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  min-width: 250px !important;
  max-width: 250px;
  min-height: 400px;
  max-height: 3px;
  padding: 20px 10px;
}
.project-card:hover {
  transition: transform 0.2s ease;
  transform: scale(1.03);
}
.tech-icons-img {
  width: 40px;
  padding: 0;
  border-radius: 10px;
}
.tech-icons-img:hover {
  transform: rotate(20deg);
}
#card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#card-buttons button {
  height: 30px;
  width: 100px;
}
#card-buttons button a {
  color: white;
}
.git-button {
  border-radius: 5px;
  background-color: #3b3b3b;
}
.git-button:hover {
  background-color: black;
}
.live-button {
  border-radius: 5px;
  background-color: var(--neutral-color);
}
.live-button:hover {
  border-radius: 5px;
  background-color: rgb(199, 186, 152);;
}


/*** CONTACT ***/
#contact {
  display: flex;
  flex-direction: column;
  padding: 25vh 0;
  background-color: var(--bg-secondary-color-deactivated);
}
.contact-icons {
  border-radius: 10px;
}
.contact-info i{
  width: 100px;
  padding: 60px;
}
.fa-envelope {
  color: rgb(44, 36, 36);
  font-size: 2.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s;
}
.fa-envelope:hover {
  transition: transform 0.3s ease, box-shadow 0.3s;
  transform: scale(1.2);
}
.fa-linkedin {
  color: rgb(11, 121, 189);
  font-size: 2.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s;
}
.fa-linkedin:hover {
  transition: transform 0.3s ease, box-shadow 0.3s;
  transform: scale(1.2);
}
.fa-github {
  color: black;
  font-size: 2.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s;
}
.fa-github:hover {
  transition: transform 0.3s ease, box-shadow 0.3s;
  transform: scale(1.2);}
.section-contact {
  display: flex;
  flex-wrap: nowrap;
  overflow-wrap: none;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  max-width: min(80%, 1156px);
  position: relative;
  border: 2px solid black;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  background-color: var(--bg-color);
}



/*** FOOTER ***/
footer {
  color: var(--footer-font);
  background-color: var(--footer-bg);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*** BACK HOME ***/
.back-to-home {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 18px;
  bottom: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-to-home svg {
  width: 24px;
  height: 24px;
  fill: black;
}
