/*** COLORS ***/
:root {
  /* Color Palette Variables */
  --primary-color: hsla(87, 15%, 55%, 1); /* Matcha */
  --primary-color-deactivated: hsla(87, 15%, 55%, 0.5);

  --secondary-color: hsla(40, 24%, 87%, 1); /* Almond */
  --secondary-color-deactivated: hsla(40, 24%, 87%, 0.5);

  --bg-color: hsla(41, 53%, 88%, 1); /* Vanilla */
  --bg-color-deactivated: hsla(41, 53%, 88%, 0.5);

  --bg-secondary-color: hsla(72, 21%, 65%, 1); /* Pistache */
  --bg-secondary-color-deactivated: hsla(72, 21%, 65%, 0.5);

  --highlight-color: hsla(31, 43%, 66%, 1); /* Chai */
  --highlight-color-deactivated: hsla(31, 43%, 66%, 0.5);

  /* New Neutral Color (replacing Carob) */
  --neutral-color: hsla(38, 12%, 60%, 1); /* Soft Beige */
  --neutral-color-deactivated: hsla(38, 12%, 60%, 0.5);

  /* Navbar and Footer Variables */
  --navbar-bg:   hsla(87, 15%, 55%, 1); /* Matcha */
  --navbar-font: hsla(0, 0%, 100%, 1); /* White */
  
  --footer-bg:   hsla(87, 15%, 55%, 1); /* Matcha */
  --footer-font: hsla(0, 0%, 100%, 1); /* White */
}


/*** SETTING DEFAULTS ***/
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden; /* Evita o overflow horizontal */
}
html {
  font-family: monospace, sans-serif;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.3rem;
  /* margin-bottom: 20px; */
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
body {
 background-color: var(--bg-color-deactivated);
}
.heading {
  max-width: 75%;
}
#home, #about, #contact {
  height: 90%;
}


/***  NAVBAR  ***/
#navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
  background-color:var(--navbar-bg);
  color: var(--navbar-font);
  font-size: 1.2rem;
}
#navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
.nav-li:hover {
  transform: scale(1.05);

}
.nav-li:hover > a {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}


/*** HOME  ***/
.home-content {
  position: relative; 
  width: 100%;
  height: 100vh; 
  /* background-image: url("laptop.png"); 
  background-size: cover; 
  background-position: center;
  background-attachment: local;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin: 0;
}
.profile {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  overflow-wrap: none;
  align-items: center;
  gap: 40px;
  
}
#profile-img {
  /* min-height: 100px; */
  min-width: 50px;
  max-width: 200px;
  min-height: 50px;
  max-height: 200px;
  /* max-height: 400px; */
  border-radius: 50%;
  width: 40%;
}
.fa-regular .fa-arrow-up {
  /* color: var(--secondary-color); */
  background-color: var(--secondary-color);
  /* border-radius: 20%; */
}


/*** ABOUT/PROJECTS/CONTACT ***/
.section-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-wrap: none;
  flex-direction: column;
  align-items: center;
  width: auto;
  position: relative;
  /* background-color: var(--navbar-bg); */
  /* background-size: cover;
  background-position: center;
  background-attachment: local; */
  border: 2px solid black;
  border-radius: 50px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  background-color: var(--bg-secondary-color);
}
.section-content #projects {
    background-color: var(--bg-secondary-color-deactivated);

}
/* .section-content:hover {
  background-color: var(--bg-secondary-color);
} */
  .space-s {
    margin-bottom: 10px;
  }

  .space-l {
    margin-top: 20px;
  }

/*** ABOUT ***/
#about {
  position: relative;
  background-color: var(--bg-secondary-color-deactivated);
  /* background-image: url("minimal-background.png"); */
  background-size: cover; 
  background-position: center;
  background-attachment: local; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}
.about-me-box, .skills, .hobbies {
  border: 2px dashed black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
}
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
ul li {
  list-style: none;
}
.skills-ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 100%;
}
.skills-img img {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.skills-img img:hover {
  transform: scale(1.3); 
}


/*** PROJECTS ***/
#projects {
  /* background-image: url("bgd-test.png"); */
  background-color: var(--bg-color-deactivated);
  padding: 60px 0;
}
.project-screenshot {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
.project-cards{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  border-radius: 10px;
  /* background-color: var(--bg-color); */
  padding: 10px;
}
.project-card{
  /* border: 4px solid var(); */
  border: 2px dashed black;
  border-radius: 10px;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  min-width: 250px !important;
  max-width: 250px;
  min-height: 350px;
  max-height: 3px;
  padding: 20px 10px;
}
.project-card:hover {
  transition: transform 0.2s ease;
  transform: scale(1.03);
}
.tech-icons-img {
  /* display: flex;
  flex-direction: row; */
  width: 40px;
  padding: 0;
  border-radius: 10px;
}
.tech-icons-img:hover {
  transform: rotate(20deg);
}
#card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#card-buttons button {
  height: 30px;
  width: 100px;
}
#card-buttons button a {
  color: white;
}
.git-button {
  border-radius: 5px;
  background-color: #3b3b3b;
}
.git-button:hover {
  background-color: black;
}
.live-button {
  border-radius: 5px;
  background-color: var(--neutral-color);
}
.live-button:hover {
  border-radius: 5px;
  background-color: rgb(199, 186, 152);;
}

/*** CONTACT ***/
#contact {
  display: flex;
  list-style-type: none;
  background-color: var(--bg-secondary-color-deactivated);

  /* background-image: url("minimal-background.png"); */
  text-decoration: none;
  font-size: 1.5rem;
  /* padding: 40px 20px; */
  /* background-size: auto; */
  background-attachment: local;
  /* font-family: Arial, sans-serif; */
  background-size: cover; 
  background-position: center;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  
}
.contact-info {
  margin-bottom: 30px;
}
.contact-info .email a {
  font-size: 1.2rem;
  text-decoration: none;
}
.contact-info .contact-icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  transition: opacity 0.3s;
}
.contact-info .contact-icons a:hover {
  opacity: 0.7;
}
.get-in-touch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email, .contact-icons i{
  padding-top: 10px;
}
.get-in-touch-form input,
.get-in-touch-form textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.get-in-touch-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}
.get-in-touch-form button:hover {
  opacity: 0.7;
}


/*** FOOTER ***/
footer {
  color: var(--footer-font);
  background-color: var(--footer-bg);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*** BACK HOME ***/
.back-to-home {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 25%;
  background-color: var(--secondary-text-color-deactivated);
  border-radius: 50%;
  padding: 10px 15px 15px 15px;
}

